<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Logout page</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
    </style>
</head>
<body>
<div style="font-size: 24px; color: red" class="row">
    Something goes wrong((
    <br>
    May be the user has no permission for this operation.
</div>
<br>
<br>
<div class="row">
    <a href="books.html" th:href="@{/}">To books list</a>
</div>
</body>
</html>